body{
  background-color: grey;
}

#display{
  font-family: 'Press Start 2P';
  color: lightblue;
}

.row-keys{
}

.key{
  background-color: lightgrey;
  /*padding: 3%;*/
  font-family: Courier, monospace;
  border-radius: 0;
}
.key:hover{
  background-color: #FFFFFF;
  /*padding: 3%;*/
  font-family: Courier, monospace;
}



.key-div{
}

.key-fn{
  background-color: darkgrey;
  color: black;
}

.key-fn:hover{
  background-color: #707070;
  color: black;
}

.key-del{
  background-color: black;
  color: lightgrey;
}

.key-del:hover{
  background-color: #505050;
  color: white;
}

.title{
  font-family: 'Press Start 2P', cursive;
  color: pink;
  font-size:x-large;
}
