body{
  text-align:center;
  background-color:grey;
  color:lightgrey;
}

button{
  color:grey;
}

h1{
  color:#FF9E9E;
}

.numbers{
  font-family: 'Nova Mono', monospace;
}

.texts{
  font-family: 'Fredoka One', sans-serif;
  text-align: center;
}

.progressBar{
  padding: 1% 0% 0% 0%;
  margin: 0% 0% 2% 0%;
  background-color:#FF9E9E;
}

.btn{
  margin: 1% 0% 0% 0%;
}

#aboutText{
  margin: 2% 0% 0% 0%;
  text-align: left;
  font-family: 'Nova Mono', monospace;
  color: white;
}

#aboutText a{
  color:lightgrey;
}